.swiper-button-prev, .swiper-button-next {
    width: 20PX !important;
    height: 20px !important;
    background-color: white !important;
    border-radius: 50% !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}

.swiper-button-prev {
    left: -40px !important;
}

.swiper-button-next {
    right: -40px !important;
}


