.slider_wrapper {
  position: relative;
}

.custom-prev ,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 40px;
  height: 40px;
  background: white;
  color: grey;

  width: 30px;    

  display: flex; 
  align-items: center; 
  justify-content: center;

  border-radius: 50%;
  transition: 0.3s;
}

.custom-prev {
  left: -20px;
  width: 20px;
  height: 20px;
}

.custom-next {
  right: -20px;
   width: 20px;
  height: 20px;

}
.author-name{
  color: #0d6efd;
}
.join{
  color: #0d6efd;
}